* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  /* height: 100vh; */
  background: rgb(85, 99, 147);
  text-align: center;
}